* {
    margin: 0
}

body {
    background-color: var(--background-color);
}

h1 {
    font-size: var(--font-size-largest);
    text-align: center;
    font-weight: lighter;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto max-content;
}

#formalt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-size-large);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    align-items: center;
}

input[type="submit"] {
    font-size: 2rem;
    padding: 1rem;
    width: 80%;
}

main {
    min-height: 100vh;
    display: "grid";
    grid-template-columns: 70vw auto;
}

.logo {
    display: block;
    place-self: center;
}

.bodylayout {
    background-color: white;
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}