#page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 70vw auto;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto max-content;
}

#logo {
    display: block;
    place-self: center;
}

.bodylayout {
    background-color: white;
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}