#container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 70vw auto;
}

#content {
    background-color: white;
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}