.page {
    background-color: var(--background-color);
    
    & * {
        margin: 0;
    }
    
    & h1 {
        font-size: 4rem;
        text-align: center;
        font-weight: lighter;
    }
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto max-content;
}

.logo {
    display: block;
    justify-self: center;
    align-self: center;
}

.login {
    background-color: white;
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    
    & > form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        & > * {
            display: flex;
            flex-direction: column;
            gap: 0.25rem
        }
    }
}

.create-account {
    display: grid;
    justify-items: center;
    gap: 1rem;
    font-size: 1.25rem;
}

.error-message {
    color: red;
    text-align: center;
    min-height: 1lh;
    font-size: 1.25rem;
}