:root {
    /* colors */
    --color-error: red;
    --color-success: hsl(120, 77%, 25%);
    --color-navbar: white;
    --color-button: black;

    /* image widths */
    --icon-scale: 32px;
    --profile-scale-small: 64px;
    --profile-scale-large: 128px;
    --image-scale-small: 256px;
    
    /* object widths */
    --width-row-button: 80%;
    
    --background-color: #bfbfdb;
    --background-color-navbar: #0d1445;
    --background-color-popup-parent: rgba(0, 0, 0, 0.8);
    --background-color-popup-child: #e0d6d9;
    --background-color-button: #c2d9d1;
    --background-color-button-disabled: #829890;

    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
    --font-size-larger: 2rem;
    --font-size-largest: 3rem;

    --gap-smaller: 0.25rem;
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 1.5rem;
    --gap-larger: 2rem;

    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;
    --padding-larger: 4rem;

    --border-radius-pill: 9999px;
    --border-radius-medium: 32px;
    --border-radius-circle: 50%;

    --border-text: 1px solid black;
}

input[type="text"], input[type="password"] {
    background-color: #d9d9d9;
    padding-block: 0.25rem;
    border: none;
    font-size: var(--font-size-large);
    outline: none;
}

body {
    background-color: var(--background-color);
}

h1 {
    font-size: var(--font-size-largest);
    text-align: center;
    font-weight: lighter;
}

.button {
    display: block;
    width: fit-content;
    color: var(--color-button);
    background-color: var(--background-color-button);
    &:disabled {background-color: var(--background-color-button-disabled)};
    padding: var(--padding-small) var(--padding-large);
    border: none;
    border-radius: var(--border-radius-pill);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.row-button {
    display: block;
    color: var(--color-button);
    background-color: var(--background-color-button);
    border: none;
    border-radius: var(--border-radius-pill);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: var(--width-row-button);
    padding-block: var(--padding-small);
    font-size: var(--font-size-large);
}

.vertical-form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);

    & .row-button {
        margin-inline: auto;
    }
}