:root {
    --font-size-small: 0.75rem;
    --font-size-regular: 1rem;
    --font-size-large: 1.5rem;
    --font-size-larger: 2rem;
    --font-size-largest: 3rem;
    --background-color: #bfbfdb;
}

input[type="text"], input[type="password"] {
    background-color: #d9d9d9;
    padding-block: 0.25rem;
    border: none;
    font-size: var(--font-size-large);
    outline: none;
}

.button {
    display: block;
    width: fit-content;
    color: black;
    background-color: #c2d9d1;
    padding: .5rem 2rem;
    border: none;
    border-radius: 9999px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}